@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <h1 class="display-4">Welcome</h1>
    <p class="h4">@Model.Message</p>
    <form asp-page="Index">
        <div>
            @Html.DisplayName("Name")
            @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Password)
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div>
            <div>
                @Html.DisplayName("Mail")
                @Html.TextBox("Mail", @Model.Mail, new { @class = "form-control", @type = "email" })
            </div>
            <div>
                @Html.DisplayName("Tel")
                @Html.TextBoxFor(model => model.Tel, new { @class = "form-control", @type = "tel" })
            </div>
            <input type="submit" class="btn btn-primary" />
        </div>
     </form>
</div>
